.menu {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

ul {
  list-style-type: none;
}

.logo {
  margin-bottom: 60px;
}

.logo a {
  font-size: 25px;
  cursor: pointer;
}

.lightgray {
  color: lightgray;
}

.gray {
  color: gray;
}

.list ul li a {
  cursor: pointer;
  margin-bottom: 10px;
  display: inline-block;
}

.list ul {
  padding-left: 0;
}

.list ul li a:hover {
  text-decoration: none;
  color: lightgray;
  cursor: pointer;
}

.social i {
  font-size: 15px;
  color: gray;
  background-color: white;
  border: 1px solid gray;
  padding: 6px;
  border-radius: 4px;
}

.social a {
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 10px;
}

.first i:hover {
  color: white;
  background-color: blue;
  border: none;
}

.second i:hover {
  color: white;
  background-color: red;
  border: none;
}

.third i:hover {
  color: white;
  background-color: lightblue;
  border: none;
}

.forth i:hover {
  color: white;
  background-color: orange;
  border: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.img1:hover .overlay {
  opacity: 1;
}

.img2:hover .overlay {
  opacity: 1;
}

.img3:hover .overlay {
  opacity: 1;
}

.img4:hover .overlay {
  opacity: 1;
}

.img5:hover .overlay {
  opacity: 1;
}

.img6:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  display: inline-block;
  padding: 5px 0;
}

.img1 {
  background-image: url("images/work1.jpg");
  height: 400px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.img2 {
  background-image: url("images/work2.jpg");
  height: 400px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.img3 {
  background-image: url("images/work3.jpg");
  height: 400px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.img4 {
  background-image: url("images/work4.jpg");
  height: 400px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.img5 {
  background-image: url("images/work5.jpg");
  height: 400px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.img6 {
  background-image: url("images/work6.jpg");
  height: 400px;
  background-position: center;
  background-size: cover;
  position: relative;
}

@media (max-width:768px) {
  .menu {
    position: static;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    margin-bottom: 0;
  }
  .hamburger a i {
    color: lightgray;
    font-size: 20px;
    border: 2px solid lightgray;
    padding: 8px;
  }
}