.darken{
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);

}
.bannerImage{
    background-image: url(../../images/raw/Girls-Listen-Music_0.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.bannerHeader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase !important;
    color: white !important;
    font-weight: 700 !important;
}
.coloredDiv{
    background-color: #00FFFF !important;
}
